@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

h1, h2 {
  font-family: 'Lustria', serif;
}

.custom-container {
    position: fixed;
    left: 0; 
    right: 0; 
}

.search-bar-input{
    width: 100%;
    color: #222;
    background-color: #fff;
    line-height: 36px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;

}