dat/
.idea
venv
**/__pycache__
src/retriever_v2/index/*.csv
src/retriever_v2/index/docs/*.txt
src/retriever_v2/index/embeddings/*.npy
src/retriever_v2/index/pickles/*.pkl

src/retriever_v2/index/html/*.html
src/retriever_v2/index/html/*
